<div class="teasers">
  <% @grouped_blogs.each do |month| %>
    <h3 class="teaser__month"><%= month[0] %></h3>
    <% month[1].each do |blog| %>
      <article class="teaser">
        <div class="date"><span><%= blog.formatted_date %></span></div>
        <h2 class="teaser__title"><%= link_to blog.title, blog_url(blog) %></h2>
        <div class="teaser__body">
          <%= blog.body.truncate(600, separator: "\n", omission: '') %>
          <%= link_to "Read more…", blog_url(blog), class: "teaser__more" %>
        </div>
      </article>
    <% end %>
  <% end %>

  <%= paginate @blogs %>
</div>

<aside class="almanac">
  <% @almanac.each do |year| %>
    <h3><%= year.first %></h3>
    <div class="almanac__year">
      <% year.second.each do |month| %>
        <div class="almanac__month">
          <h4><%= month.first.second %></h4>
          <% if month.second[0].images[0] %>
            <%= image_tag month.second[0].images[0].variant(resize_to_fill: [200, 200]) %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</aside>
