<% provide :template, 'columns' %>
<% provide :title, "Articles" %>
<% provide :description, "All the blog posts on Kate's Cuttings" %>

<div class="layout__main teasers">
  <% @grouped_blogs.each do |month| %>
    <h3 class="teaser__month"><%= month[0] %></h3>
    <% month[1].each do |blog| %>
      <article class="teaser">
        <div class="date"><span><%= blog.formatted_date %></span></div>
        <h2 class="teaser__title"><%= link_to blog.title, blog_url(blog) %></h2>
        <div class="teaser__body">
          <%= truncate(CGI.unescapeHTML(strip_tags(blog.body.to_s)), length: 600) %>
          <%= link_to "Read more…", blog_url(blog), class: "teaser__more" %>
        </div>
        <div class="gallery teaser__gallery" data-controller="lightbox">
          <%= render partial: 'gallery', locals: { attachments: blog.attachments } %>
        </div>
      </article>
    <% end %>
  <% end %>

  <%= paginate @blogs if @display == 'all' %>
</div>

<%= render 'almanac' %>
