<article class="blog">
  <div class="date"><span><%= @blog.formatted_date %></span></div>

  <h1><%= @blog.title %></h1>

  <% @blog.images.each do |image| %>
    <%= image_tag image.variant(resize_to_fill: [200, 200]) %>
  <% end %>

  <%= markdown @blog.body %>
</article>

<%= render 'almanac' %>
