<% provide :template, 'columns' %>
<% provide :title, @blog.title %>
<% provide :description, truncate(strip_tags(@blog.body.to_s), length: 150) %>
<% provide :og_type, 'article' %>
<% provide :canonical, blog_url(@blog) %>
<% if @blog.attachments.any? %>
  <% variant = @blog.attachments.first.image.variant(resize_to_limit: [1024, 1024])
     provide :image, main_app.url_for(variant.processed) %>
<% end %>

<%= content_for :structured_data do %>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "<%= j @blog.title %>",
  "datePublished": "<%= @blog.published_at.iso8601 %>",
  "dateModified": "<%= @blog.updated_at.iso8601 %>",
  "author": {
    "@type": "Person",
    "name": "Kate Foale"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Kate's Cuttings",
    "url": "https://katescuttings.net"
  },
  "description": "<%= j truncate(strip_tags(@blog.body.to_s), length: 150) %>"<% if @blog.attachments.any? %>,
  "image": "<%= main_app.url_for(@blog.attachments.first.image.variant(resize_to_limit: [1024, 1024]).processed) %>"<% end %>
}
</script>
<% end %>

<article class="blog">
  <div class="date"><span><%= @blog.formatted_date %></span></div>

  <h1><%= @blog.title %></h1>

  <div class="gallery blog__gallery" data-controller="lightbox">
    <%= render partial: 'gallery', locals: { attachments: @blog.attachments } %>
  </div>

  <%= @blog.body %>

  <% if @blog.prev || @blog.next %>
    <div class="blog__links">
      <%= link_to "← Previous article", @blog.prev if @blog.prev %>
      <%= link_to "Next article →", @blog.next if @blog.next %>
    </div>
  <% end %>
</article>

<%= render 'almanac' %>
