<article class="blog">
  <div class="date"><span><%= @blog.formatted_date %></span></div>

  <h1><%= @blog.title %></h1>

  <div class="gallery blog__gallery">
    <%= render partial: 'gallery', locals: { images: @blog.images } %>
  </div>

  <%= markdown @blog.body %>
</article>

<%= render 'almanac' %>
