<% provide :template, 'columns' %>
<% provide :title, "The Garden" %>
<% provide :description, "An introduction and history of Charnwood's garden" %>
<% provide :image, image_url('pages/garden-1.jpg') %>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Place",
  "name": "Charnwood Garden",
  "description": "A one-acre garden in South Nottinghamshire, developed since 1987 by Kate and Peter Foale. Former National Garden Scheme Yellow Book garden.",
  "url": "<%= garden_url %>",
  "address": {
    "@type": "PostalAddress",
    "addressRegion": "Nottinghamshire",
    "addressCountry": "GB"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "addressCountry": "GB"
  }
}
</script>

<article>
  <h1>The Garden</h1>

  <p>Welcome to the garden. Peter and Kate Foale moved into Charnwood in South Notts with their child Kim, in August 1987. As time, money and fitness has been available they have gradually developed the acre of garden and continue to plan new areas. The backdrop of mature trees and countryside makes gardening here a joy.</p>

  <p>Through the gate the front garden is dominated on the right by a blue cedar, probably at least as old as the house (1950s). The clipped box came from a local nursery, Ivor Thompson (sadly no longer with us) and has, unfortunately, been ‘trimmed’ in places by both Jamie the dog who sadly passed away in 2009 and now Gibbs. Lesson learned: dogs are wonderful companions but are not great gardeners. Walking by the right hand side of the house are 2 weeping pears and opposite a border of ferns and spring bulbs including the gorgeous Narcissus &#39;Thalia&#39;. At the back of the house on the right we planted a golden birch again from Ivor Thompson.</p>

  <p>The mainly herbaceous border at the back of the house has penstemons, sedum, hardy geraniums and verberna bonariensis. More recently, a small  group of &#39;Skylark&#39; shrub roses from David Austin have been added for a longer season of colour. Next to the patio with the umbrella are more roses including Kate&#39;s favourite, a Gallica rose &#39;Tuscany Superb’. That leads to a pergola with a yellow David Austin ‘Anniversary’ rose and a little brick courtyard with pots full of plants, which vary according to the seasons. This takes you through to the more formal garden, most of which was landscaped (Pegasus) and planted in 2002 and regularly tended by Kate. At the end of the path you are taken to a &#39;secret garden&#39; with bamboo, magnolia, lilies, agapanthus, grasses, hostas and shrubs.</p>

  <p>The yew hedge linking the house to the garage is now 25 years old. If you walk round the right hand side of the garage you will come to the pond, empathically designed and installed in August 2002 by Edd Seeley, including a jetty to sit and survey the front garden. More recently we have had a comprehensive refurb by Michael Wheat who skilfully kept the feel of the original design and refreshed it.  The woodland planting includes hellebores, more hardy geraniums, a Magnolia &#39;Stellata&#39;, acers and ferns. A beautiful and now large swamp cypress quickly got its feet down into the damp soil.</p>

  <p>In 2009, Kate’s Mother died, a sad loss as she was a lovely Mum and Grandma and huge inspiration to Kate, especially in the garden. In her memory we asked our architect friend, Simon Wrigley, to draw up plans for a seaside garden, complete with a cobble &#39;beach&#39;, oak railway sleepers to provide some steps and a gravel garden where Kate has planted alpines, grasses, allium and  so called dwarf &#39;Mugo&#39; pines, now 2 metres tall but much loved nevertheless.</p>

  <p>There are some interesting and unusual works of art throughout. Our latest acquisition is a four legged friend, Coco the foal. The stumpery at the front is still work in progress - Highgrove need not worry about the competition yet! The jungle hut was designed and built by our lovely pal Alan Hopcraft.</p>

  <p>There are so many people to say ‘thank you’ to for helping me and Peter make ‘Charnwood’ what it is today. Below is a stab at it – but please let me know and forgive me if I’ve missed you out!</p>

  <ul>
    <li>Alan Hopcraft and Lauraine Baxendale for the African Hut with style and lots of ideas, help and fun;</li>
    <li>Sally Bilzon, David Wilson, students Sam and Will and also Matt and Rob of All Seasons Gardening. Brian Sleight before all of them;</li>
    <li><%= link_to "Kim Foale", "https://gfsc.studio" %> for encouragement and the KC website; <%= link_to "Roshana Rubin Mayhew", "http://roshanarubinmayhew.com/" %> for the gorgeous book design and Kevin Pyke for the beautiful photos that inspired the book;</li>
    <li><%= link_to "Aboreco", "http://www.arboreco.co.uk" %> for taking such good care of our lovely trees;</li>
    <li>The Tollerton Gardening Club members for their gardening wisdom and support;</li>
    <li>All those who helped us out when we have our open garden including Annette and David, Liz Fradd, Denise and Roger, Margaret, Liz Wills, Friends of South Wolds for lovely teas and <%= link_to "students", "http://www.southwolds.co.uk" %> for perfect mood setting music, and our kind neighbours on Cotgrave Lane for helping out with furniture and putting up with all the cars;</li>
    <li>Mary Thomas of the <%= link_to "National Garden Scheme", "http://www.ngs.org.uk" %>;</li>
    <li>All our garden visitors for their kind words;</li>
    <li>Pat Wood for turning the weeping pears into living sculptures;</li>
    <li>Simon Wrigley for the seaside garden, he made my vision real and even better than I pictured and similarly Edd Seeley for the pond;</li>
    <li>Barbara Storrie, <%= link_to "Tollerton Village newsletter", "http://www.tollertonparishcouncil.gov.uk" %> editor for her support for ’Kates Cuttings’;</li>
    <li>Local plant nurseries, Moores, Sulney and Ivor Thompson - we all miss him;</li>
    <li>My mum.</li>
  </ul>
</article>

<aside class="page gallery garden" data-controller="lightbox">
  <%= link_to image_url('pages/garden-1.jpg'), class: 'lightbox', data: { lightbox_target: 'item' } do %>
    <%= image_tag 'pages/garden-1_small.jpg', alt: 'Photo of the front garden' %>
  <% end %>
  <%= link_to image_url('pages/garden-2.jpg'), class: 'lightbox', data: { lightbox_target: 'item' } do %>
    <%= image_tag 'pages/garden-2_small.jpg', alt: 'Photo of the pond and decking area' %>
  <% end %>
  <%= link_to image_url('pages/garden-3.jpg'), class: 'lightbox', data: { lightbox_target: 'item' } do %>
    <%= image_tag 'pages/garden-3_small.jpg', alt: 'Photograph of a Wisteria growing on a pergola entwined with thistles' %>
  <% end %>
  <%= link_to image_url('pages/garden-4.jpg'), class: 'lightbox', data: { lightbox_target: 'item' } do %>
    <%= image_tag 'pages/garden-4_small.jpg', alt: 'Photo of the back garden' %>
  <% end %>
  <%= link_to image_url('pages/garden-5.jpg'), class: 'lightbox', data: { lightbox_target: 'item' } do %>
    <%= image_tag 'pages/garden-5_small.jpg', alt: 'Photo of the jungle hut' %>
  <% end %>
</aside>
