<% provide :template, 'full' %>
<% provide :title, "Gallery" %>
<% provide :description, "Browse all photos from Kate's Cuttings garden blog" %>

<article class="gallery-page">
  <h1>Gallery</h1>

  <div class="gallery-page__filters">
    <%= link_to "All", gallery_path,
        class: "gallery-page__filter #{'gallery-page__filter--active' if @selected_month.nil?}" %>
    <% @months.each do |month| %>
      <%= link_to month[0..2], gallery_path(month: month),
          class: "gallery-page__filter #{'gallery-page__filter--active' if @selected_month == month}" %>
    <% end %>
  </div>

  <% if @selected_month.present? %>
    <p class="gallery-page__showing">Showing images from <strong><%= @selected_month %></strong> across all years</p>
  <% end %>

  <div class="gallery-page__masonry" data-controller="lightbox">
    <% @attachments.each_with_index do |attachment, index| %>
      <%= render partial: 'gallery_item', locals: { attachment: attachment, eager: index < @eager_load_count } %>
    <% end %>
  </div>

  <% if @paginated && @attachments.respond_to?(:total_pages) && @attachments.total_pages > 1 %>
    <div class="gallery-page__pagination">
      <%= paginate @attachments %>
    </div>
  <% end %>
</article>
