<%= form_with model: [:admin, @blog] do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title, class: 'form__title' %><br>
  <%= f.rich_text_area :body %><br>

  <h3>Image attachments</h3>
  <%= f.fields_for :attachments do |a| %>
    <div class='form__image'>
      <%= a.label :title, "Caption" %><br>
      <%= a.text_field :title, placeholder: "Caption shown in lightbox" %><br>
      <%= a.label :alt_text, "Alt text" %><br>
      <%= a.text_field :alt_text, placeholder: "Description for accessibility" %><br>
      <%= a.file_field :image, direct_upload: true %><br>
      <%= a.label "Delete" %>
      <%= a.check_box :_destroy %>
    </div>
  <% end %>

  <br>
  
  <%= f.label :published_at, 'Publication date' %><br>
  <%= f.date_field :published_at %><br>

  <br>

  <%= f.submit 'Submit', class: 'form__submit' %>
<% end %>
