<% provide :template, 'columns' %>

<article>
  <h1>New post</h1>

  <%= form_with model: [:admin, @blog] do |f| %>
    <%= f.text_field :title %><br>
    <%= f.text_area :body %><br>
    <%= f.file_field :images, multiple: true, direct_upload: true %>
    <%= f.submit %>
  <% end %>

</article>

<aside>

</aside>
