
  <meta property="og:site_name" content="Kate's Cuttings">
  <meta property="og:locale" content="en_GB">

  <% meta_title = content_for?(:title) ? "#{yield :title} | Kate's Cuttings" : "Kate's Cuttings" %>
  <title><%= meta_title %></title>
  <meta property="og:title" content="<%= meta_title %>" />
  <meta name="twitter:title" content="<%= meta_title %>">

  <% meta_description = content_for?(:description) ? yield(:description).strip : "A blog about Kate's garden Charnwood." %>
  <meta property="og:description" content="<%= meta_description %>" />
  <meta name="twitter:description" content="<%= meta_description %>" />

  <% meta_image = content_for?(:image) ? yield(:image) : image_url('pages/garden-1.jpg') %>
  <meta property="og:image" content="<%= meta_description %>" />
  <meta name="twitter:image" content="<%= meta_image %>" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@KatesCuttings">
  <meta name="twitter:creator" content="@KatesCuttings">
