<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "layouts/meta_tags" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header>
      <a href="/" class="header__title">
        <h1>Kate's Cuttings</h1>
      </a>
      <nav role="main" class="navigation">
        <ul>
          <li><%= link_to "Articles", root_url %></li>
          <li><%= link_to "About Kate", kate_url %></li>
          <li><%= link_to "The Garden", garden_url %></li>
          <li><%= link_to "The Book", book_url %></li>
        </ul>
      </nav>
      <div class="triangles">
        <div class="triangle triangle--l" role="presentation"></div>
        <div class="triangle triangle--r" role="presentation"></div>
      </div>
    </header>
    <main class="layout layout--<%= yield :template %>">
      <%= yield %>
    </main>
    <footer>
      <h5>CONTACT</h5>
      <ul>
        <li>Phone: 0115 9375148</li>
        <li>Email: <%= mail_to "kate@katescuttings.net" %></li>
        <li>Twitter: <%= link_to "@KatesCuttings", "https://twitter.com/KatesCuttings" %></li>
      </ul>
      <div class="footer__created">
        Site created by <%= link_to "Geeks for Social Change", "https://gfsc.studio" %>
      </div>
    </footer>
  </body>
</html>
